@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variables */
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
  }


  body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
  }
  